html,
body {
    width: 100%;
    height: 100%;
}

.red4 {
    color: rgb(204, 0, 0);
}

#bg-search {
    height: 15em;
    background: url('../assets/img/timthumb.jpg') center / cover no-repeat;
}

#bg-all {
    background: url('../assets/img/wibu.jpg');
}

.bg-me {
    background-color: #f0c888;
}
.bg-wood{
    background: url('../assets/img/nengo.jpg') center / cover no-repeat !important;
}