*{
    font-family: Arial, Helvetica, sans-serif;
}
/* css for images home admin */
.col-2 img{
    width: 50%;
}

a{
    color: #d8213c;
}

.row a{
    text-decoration: none;
}

.custom-color{
    color: #ff6b81 !important;
}

.footer{
    background-color: #ff6b81;
}

.footer a{
    color: blue;
}

.footer p{
    color: white;
}

.custom-background{
    background-color:   rgba(247, 244, 244, 0.768) !important;
}

.img-custom{
    max-width: 70px;
}

.img-custom1{
    max-width: 100px;
}

/* css for custom-button */
.custom-button1{
    width: 100%;
    height: 30px;
    background-color: rgb(40, 137, 242);
    color: white;
    border: none;
    font-weight: bold;
}

.custom-button2{
    width: 100%;
    height: 30px;
    background-color: rgb(104, 225, 93);
    color: solid black;
    border: none;
    font-weight: bold;
}

.custom-button3{
    width: 100%;
    height: 30px;
    background-color: rgb(209, 107, 126);
    color: white;
    border: none;
    font-weight: bold;
}

.table a{
    text-decoration: none;
}